:root {
  --text-primary: #000;
  --bgPrimary: #fff;
  --bgSecondary: #F9F9F9;
  --pink: #0071bd;
  --light-blue: #e6f7ff;
  --border: #d9d9d9;
  --gray: #808080;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color :var(--gray) !important;
}

a:hover {
  color: var(--pink) !important;
}

a:focus {
  color: white !important;
}

.app {
  display: flex;
  min-height: 100vh; /* Ensure the app takes the full viewport height */
}

.navbar {
  width: 240px; /* Fixed width for the navbar */
  background-color: rgb(0, 21, 41);
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.routes {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.nav-container {
  width: 240px; /* Fixed width for the navbar */
  position: fixed;
  left: 0;
  height: 100vh;
  margin: 0;
  background-color: rgb(0, 21, 41);
}

.global-crypto-stats {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically if needed */
  width: 100%; /* Ensure it spans the full width */
}


.logo-container {
  background-color: #001529;
  display: flex;
  padding: 20px;
  width: 100%;
}

.logo {
  margin: 0 0 0 15px;
}


.logo a {
  color: white !important;
}

.logo a:hover {
  color: var(--pink) !important;
}


.menu-control-container {
  display: none !important;
  position: absolute !important;
  right: 10px !important;
  top: 25px !important;
  font-size: 1.2rem !important;
  background-color: var(--bgSecondary) !important;
  border: none !important;
}

.skeleton-loader {
  width: 100%;
  height: 24px;
  background-color: #f0f0f0;
  border-radius: 4px;
}

.pulse {
  animation: pulse-animation 1.5s infinite;
}

@keyframes pulse-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}


/* Header part with rank and avatar skeleton */
.crypto-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
/* Skeleton styling */
.skeleton {
  background-color: #e0e0e0;
  animation: pulse 1.5s infinite ease-in-out;
  border-radius: 4px;
}

/* For title (rank + title skeleton) */
.rank-title-skeleton {
  width: 120px;
  height: 20px;
}

.rank-title-skeleton-lg {
  width: 150px;
  height: 30px;
}

.rank-title-skeleton-xl {
  width: 200px;
  height: 40px;
}

/* For the avatar (right side circle skeleton) */
.avatar-skeleton {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

/* Body part skeleton lines for price, market cap, and daily change */
.crypto-card-body {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.line-skeleton {
  width: 70%;
  height: 16px;
}

.line-skeleton-med {
  width: 50%;
  height: 16px;
}

.line-skeleton-short {
  width: 40%;
  height: 16px;
}

.line-skeleton-sml {
  width: 15%;
  height: 16px;
}

/* Pulse animation */
@keyframes pulse {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}

.custom-skeleton-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.skeleton-select-dropdown {
  width: 150px;
  height: 32px;
  animation: pulse 1.5s infinite ease-in-out;
  background-color: #f0f0f0;
  border-radius: 4px;
}

.skeleton-title {
  animation: pulse 1.5s infinite ease-in-out;
  width: 40%;
  height: 32px;
  background-color: #f0f0f0;
  border-radius: 4px;
}

.skeleton-stats {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}

.skeleton-stats-item {
  animation: pulse 1.5s infinite ease-in-out;
  width: 100px;
  height: 24px;
  background-color: #f0f0f0;
  border-radius: 4px;
}

.skeleton-chart {
  animation: pulse 1.5s infinite ease-in-out;
  width: 100%;
  height: 400px;
  background-color: #f0f0f0;
  border-radius: 8px;
}

.line-chart-container {
  width: 100%;
  height: 400px; /* Adjust height as needed */
  min-height: 300px;
}


@media screen and (min-width: 801px) {
  .footer {
    display: none !important;
  }
}
/* styles.css */
.title-mobile {
  text-transform: uppercase;
  font-size: 12px; /* Small font size for mobile */
}

.title-desktop {
  text-transform: uppercase;
  font-size: 16px; /* Default font size for larger screens */
}


/* Adjustments for smaller devices */
@media screen and (max-width: 800px) {

  .title-mobile {
    font-size: 4px !important; /* Revert to default size on larger screens */
  }

  .footer {
    display: flex;
  }

  .app {
    flex-direction: column;
    overflow: hidden;
  }

  .navbar {
    width: 100%; /* Navbar spans full width on smaller devices */
    height: auto;
  }

  .main {
    margin-left: 0; /* Reset margin-left */
    margin-top: 90px; /* Adjust top margin to accommodate the navbar */
  }

  .nav-container {
    height: 8vh;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: var(--bgSecondary);
  }

  .menu-control-container {
    display: block !important;
  }

  .ant-menu {
    position: absolute;
    right: 0;
  }

  .home-title {
    font-size: 1.4rem !important;
  }

  .show-more {
    font-size: 1.3rem !important;
  }
}

/* Coin Details Page Styles */
.coin-detail-container {
  margin: 30px;
}

.coin-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid var(--border);
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 10px;
}

.coin-heading-container .coin-name {
  font-weight: 900;
  color: var(--pink);
}

.coin-heading-container p {
  font-size: 1rem;
  opacity: 0.9;
  margin-bottom: 20px;
}

/* Adjusted stats-container to center children at the top */
.stats-container {
  display: flex;
  justify-content: space-around; /* Aligns content to the top */
  align-items: center; /* Centers content horizontally */
  gap: 40px;
}

.stats-container h2 {
  font-weight: 700;
  font-size: 1.4rem;
  margin-top: 20px;
  color: var(--pink);
}

.coin-details-heading {
  font-weight: 700 !important;
  margin-top: 20px !important;
  color: var(--pink) !important;
}

.coin-stats {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
  font-size: 1rem;
  opacity: 0.9;
  padding: 20px;
}

.coin-stats-name {
  display: flex;
  gap: 10px;
  font-size: 1rem;
}

.stats {
  font-weight: 800;
}

.coin-value-statistics-heading p {
  font-size: 1rem;
  opacity: 0.9;
}

.coin-desc-link {
  display: flex;
  gap: 40px;
  margin-top: 40px;
  padding-top: 20px;
}

.coin-desc-link h2 {
  font-weight: 700;
  color: var(--pink);
}

.coin-desc-link p {
  font-size: 1rem;
  opacity: 0.9;
}

.coin-desc-link a {
  color: var(--pink);
}

.coin-desc-link h3 {
  font-weight: 700;
}

.coin-desc {
  flex: 0.5;
}

.coin-links {
  padding: 0 20px;
  flex: 0.5;
}

.coin-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
  padding: 20px;
}

.link-name {
  text-transform: capitalize;
  font-size: 1rem;
}

.coin-link a {
  color: var(--pink);
  font-weight: 700;
  font-size: 1rem;
}

.coin-link:hover,
.coin-stats:hover {
  background-color: var(--bgSecondary);
}

.wide-columns {
  width: 60%; /* Increase width for the two columns */
  min-width: 300px; /* Ensure they don't shrink too much */
  padding: 10px; /* Add some padding */
}

/* Responsive adjustments */
@media screen and (max-width: 1000px) {
  .stats-container {
    flex-direction: column;
    align-items: center;
  }

  .coin-desc-link {
    flex-direction: column;
  }

  .stats-container h2 {
    margin-top: 0;
  }
}

@media screen and (max-width: 500px) {
  .coin-links {
    padding: 0;
  }

  .coin-detail-container {
    margin: 0;
  }

  .heading {
    margin-top: 20px;
  }
}

/* News Component Styles */
.select-news {
  width: 180px;
}

.news-card {
  min-height: 300px !important;
}

.news-image-container {
  display: flex !important;
  justify-content: space-between !important;
}

.news-title {
  width: 70%;
}

.news-image-container .img {
  width: 100px;
  height: 100px;
}

.news-card p {
  color: black;
  margin: 10px 0 !important;
}

.provider-container {
  display: flex;
  justify-content: space-between;
}

.provider-name {
  margin-left: 10px;
}

/* Chart Styles */
.chart-header {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  color: #0071bd;
}

.chart-title {
  color: #0071bd !important;
}

.price-container {
  display: flex !important;
  gap: 20px !important;
  align-items: center !important;
  flex-wrap: wrap !important;
}

.price-change {
  font-weight: 900 !important;
}

.current-price {
  margin-top: 0 !important;
  font-weight: 900 !important;
}

/* Home Page Styles */
.home-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.show-more {
  margin-top: 0 !important;
}

.exchange-image {
  margin: 0 10px !important;
}

/* Cryptocurrencies Component Styles */
.search-crypto {
  margin: 20px auto 30px auto;
  width: 250px;
}

.crypto-card-container {
  min-height: 65vh !important;
}

.crypto-card {
  min-width: 250px;
}

.crypto-card .crypto-image {
  width: 35px;
}

.crypto-image {
  width: 35px;
}

.select-timeperiod {
  width: 120px !important;
  margin-top: 20px !important;
}

.select-datatype {
  width: 120px !important;

}

.currency-select {
  color: var(--gray) !important; /* Default link color */
  background-color: transparent !important; /* No background color */
}

.currency-select:hover {
  icon-color: white !important;
  color: var(--pink) !important; /* Link hover color */
  background-color: transparent !important; /* Prevent background color on hover */
}

/* Loading and Error Containers */
.loading-container,
.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh; /* Adjust height to fit your needs */
}

/* Footer Styles */
.footer {
  background-color: #001529;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
  margin-top: auto; /* Push the footer to the bottom */
}


/*External Css*/

.ant-menu-item.ant-menu-item-selected {
  color: white !important;
  background-color: transparent !important; /* Remove background */
  border: none !important; /* Remove any borders */
  box-shadow: none !important; /* Remove any shadow */
}

